<div class="page-wrapper">
    <div class="mb-3">
        <h1 class="m-0 font-24 regular text-primary">{{ pageTitle }}</h1>
    </div>
    <p-stepper [value]="1">
        <p-step-item [value]="1">
            <p-step>{{ 'المرحلة الاولي' }}</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <p-card class="px-4 pt-2 pb-4 m-0">
                        @if (form) {
                            <form method="post" class="row" [formGroup]="form">
                                <div class="col-lg-3">
                                    <app-prime-input-text [formGroup]="form" controlName="code" [label]="'الكود'"> </app-prime-input-text>
                                </div>
                                <div class="col-lg-3">
                                    <label class="mb-2">{{ 'المصنع' }}</label>
                                    <app-prime-autocomplete
                                        [field]="'nameAr'"
                                        [selectedOption]="selectedItemVendor"
                                        [suggestions]="filteredItemVendors"
                                        [formGroup]="form"
                                        (onSelect)="onItemVendorSelect($event)"
                                        [lazy]="false"
                                        (handleMethod)="getItemVendors($event)"
                                    ></app-prime-autocomplete>
                                </div>
                                <div class="col-lg-3">
                                    <label class="mb-2">{{ 'التصنيف' }}</label>
                                    <app-prime-autocomplete
                                        [field]="'nameAr'"
                                        [selectedOption]="selectedItemCategory"
                                        [suggestions]="filteredItemCategorys"
                                        [formGroup]="form"
                                        (onSelect)="onItemCategorySelect($event)"
                                        [lazy]="false"
                                        (handleMethod)="getItemCategorys($event)"
                                    ></app-prime-autocomplete>
                                </div>

                                <div class="col-lg-3">
                                    <app-prime-input-text [formGroup]="form" controlName="maxSellDiscount" controlName="number" [label]="'اقوي نسبة خصم'"> </app-prime-input-text>
                                </div>

                                <div class="col-lg-3">
                                    <app-prime-input-text [formGroup]="form" controlName="nameAr" validatorLanguageType="ar" [label]="'الاسم عربي'"> </app-prime-input-text>
                                </div>

                                <div class="col-lg-3">
                                    <app-prime-input-text [formGroup]="form" controlName="nameEn" validatorLanguageType="en" [label]="'الاسم انجليزي'"> </app-prime-input-text>
                                </div>
                                <div class="col-lg-3">
                                    <app-prime-input-text [formGroup]="form" contentType="number" controlName="nameEn" [label]="'ترتيب العرض'"> </app-prime-input-text>
                                </div>
                                <div class="col-lg-3">
                                    <app-prime-input-text [formGroup]="form" contentType="number" controlName="nameEn" [label]="'حد الطلب'"> </app-prime-input-text>
                                </div>
                                <div class="col-lg-3">
                                    <app-prime-input-text [formGroup]="form" contentType="number" controlName="nameEn" [label]="'عدد ايام الصلاحية'"> </app-prime-input-text>
                                </div>
                                <div class="col-lg-3">
                                    <app-prime-input-text [formGroup]="form" contentType="number" controlName="nameEn" [label]="'حد الركود الشهري'"> </app-prime-input-text>
                                </div>
                                <div class="col-lg-8">
                                    <label class="mt-2">{{ 'العرض في قائمة البيع' }}</label>
                                    <div class="field col d-flex justify-content-evenly" style="flex-grow: 8">
                                        @for (type of sellsList; track $index) {
                                            <app-prime-radio-button [formGroup]="form" controlName="sellsList" name="typeGroup" class="check" [value]="type.nameAr" [label]="language == 'ar' ? type.nameAr : type.nameEn"></app-prime-radio-button>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <app-prime-check-box [formGroup]="form" controlName="checkRest" groupName="showGroup" [binary]="true" [label]="'مراجعة الرصيد'"></app-prime-check-box>
                                </div>
                                <div class="col-lg-4">
                                    <app-prime-check-box [formGroup]="form" controlName="stopSell" groupName="showGroup" [binary]="true" [label]="'ايقاف البيع'"></app-prime-check-box>
                                </div>
                                <div class="col-lg-4">
                                    <app-prime-check-box [formGroup]="form" controlName="isActive" groupName="showGroup" [binary]="true" [label]="'ايقاف الصنف'"></app-prime-check-box>
                                </div>
                            </form>
                        }
                    </p-card>
                    <div class="py-6">
                        <p-button [label]="'التالي'" (onClick)="activateCallback(2)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]="2">
            <p-step>{{ 'المرحلة الثانية' }}</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <p-card class="px-4 pt-2 pb-4 m-0">
                        @if (form) {
                            <form method="post" class="row" [formGroup]="form">
                                <div class="col-lg-6">
                                    <app-prime-input-text [formGroup]="form" controlName="fileNumber" [label]="'FIELDS.FILE_NUMBER'"> </app-prime-input-text>
                                </div>

                                <div class="col-lg-6">
                                    <label class="mb-2">{{ 'FIELDS.EMPLOYMENT_ORGANIZATION' }}</label>
                                    <!--
                      <app-prime-autocomplete
                        [selectedOption]="selectedEmploymentOrganization"
                        [suggestions]="filteredEmploymentOrganizations"
                        [formGroup]="form"
                        (onSelect)="onEmploymentOrganizationSelect($event)"
                        [language]="language"
                        [lazy]="false"
                        (handleMethod)="getEmploymentOrganizations($event)"></app-prime-autocomplete> -->
                                </div>

                                <div class="col-lg-6">
                                    <app-prime-datepicker [formGroup]="form" controlName="employmentDate" [mode]="'date'" [label]="'FIELDS.EMPLOYMENT_DATE'"> </app-prime-datepicker>
                                </div>

                                <div class="col-lg-4">
                                    <label class="mb-2">{{ 'المصنع' }}</label>
                                    <app-prime-autocomplete
                                        [field]="'nameAr'"
                                        [selectedOption]="selectedItemVendor"
                                        [suggestions]="filteredItemVendors"
                                        [formGroup]="form"
                                        (onSelect)="onItemVendorSelect($event)"
                                        [lazy]="false"
                                        (handleMethod)="getItemVendors($event)"
                                    ></app-prime-autocomplete>
                                </div>

                                <div class="col-lg-6">
                                    <app-prime-input-text [formGroup]="form" controlName="employmentDecisionNumber" contentType="number" [label]="'FIELDS.EMPLOYMENT_DECISION_NUMBER'"> </app-prime-input-text>
                                </div>

                                <div class="col-lg-6">
                                    <app-prime-datepicker [formGroup]="form" controlName="employmentDecisionDate" [mode]="'date'" [label]="'FIELDS.EMPLOYMENT_DECISION_DATE'"> </app-prime-datepicker>
                                </div>
                            </form>
                        }
                    </p-card>

                    <div class="py-6">
                        <p-button [label]="'ACTIONS.BACK'" severity="secondary" (onClick)="activateCallback(1)" />
                        <p-button [label]="'ACTIONS.NEXT'" (onClick)="activateCallback(3)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]="3">
            <p-step>{{ 'المرحلة الثالثة' }}</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <p-card class="px-4 pt-2 pb-4 m-0">
                        @if (form) {
                            <form method="post" class="row" [formGroup]="form">
                                <div class="col-lg-4">
                                    <label class="mb-2">{{ 'المصنع' }}</label>
                                    <app-prime-autocomplete
                                        [field]="'nameAr'"
                                        [selectedOption]="selectedItemVendor"
                                        [suggestions]="filteredItemVendors"
                                        [formGroup]="form"
                                        (onSelect)="onItemVendorSelect($event)"
                                        [lazy]="false"
                                        (handleMethod)="getItemVendors($event)"
                                    ></app-prime-autocomplete>
                                </div>

                                <div class="col-lg-4">
                                    <label class="mb-2">{{ 'المصنع' }}</label>
                                    <app-prime-autocomplete
                                        [field]="'nameAr'"
                                        [selectedOption]="selectedItemVendor"
                                        [suggestions]="filteredItemVendors"
                                        [formGroup]="form"
                                        (onSelect)="onItemVendorSelect($event)"
                                        [lazy]="false"
                                        (handleMethod)="getItemVendors($event)"
                                    ></app-prime-autocomplete>
                                </div>

                                <div class="col-lg-4 mTop">
                                    <p-button [label]="'ACTIONS.ADD_POSITION'" (onClick)="openAddPosition()" />
                                </div>

                                <div class="col-lg-4">
                                    <label class="mb-2">{{ 'المصنع' }}</label>
                                    <app-prime-autocomplete
                                        [field]="'nameAr'"
                                        [selectedOption]="selectedItemVendor"
                                        [suggestions]="filteredItemVendors"
                                        [formGroup]="form"
                                        (onSelect)="onItemVendorSelect($event)"
                                        [lazy]="false"
                                        (handleMethod)="getItemVendors($event)"
                                    ></app-prime-autocomplete>
                                </div>

                                <div class="col-lg-4">
                                    <app-prime-datepicker [formGroup]="form" controlName="positionStartDate" [mode]="'date'" [label]="'FIELDS.POSITION_START_DATE'"> </app-prime-datepicker>
                                </div>

                                <div class="col-lg-4">
                                    <label class="mb-2">{{ 'المصنع' }}</label>
                                    <app-prime-autocomplete
                                        [field]="'nameAr'"
                                        [selectedOption]="selectedItemVendor"
                                        [suggestions]="filteredItemVendors"
                                        [formGroup]="form"
                                        (onSelect)="onItemVendorSelect($event)"
                                        [lazy]="false"
                                        (handleMethod)="getItemVendors($event)"
                                    ></app-prime-autocomplete>
                                </div>
                            </form>
                        }
                    </p-card>
                    <div class="py-6">
                        <p-button [label]="'عودة'" severity="secondary" (onClick)="activateCallback(2)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>
    </p-stepper>
    @if (form) {
        <app-submit-buttons [isSubmitDisabled]="form.invalid" [submitButtonText]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'" (submit)="submit()" (cancel)="redirect()"> </app-submit-buttons>
    }
</div>
