<p-tabs value="ItemTabs.General">
    <p-tablist>
        <p-tab value="ItemTabs.General">{{ 'البيانات الأساسية' }}</p-tab>
        @if (pageType === 'edit' || showItemTabs) {
            <p-tab value="ItemTabs.ItemItemUnit">{{ 'المرحلة الأولي' }}</p-tab>
        }
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="ItemTabs.General">
            <div class="page-wrapper">
                <p-card class="px-4 pt-2 pb-4 m-0">
                    @if (form) {
                        <form method="post" class="row" [formGroup]="form">
                            <div class="col-lg-4">
                                <app-prime-input-text [formGroup]="form" controlName="code" [label]="'الكود'"> </app-prime-input-text>
                            </div>

                            <div class="col-lg-4">
                                <label class="mb-2">{{ 'المصنع' }}</label>
                                <app-prime-autocomplete
                                    [field]="'nameAr'"
                                    [selectedOption]="selectedItemVendor"
                                    [suggestions]="filteredItemVendors"
                                    [formGroup]="form"
                                    (onSelect)="onItemVendorSelect($event)"
                                    [lazy]="false"
                                    (handleMethod)="getItemVendors($event)"
                                ></app-prime-autocomplete>
                            </div>
                             <div class="col-lg-4">
                                <app-prime-input-text [formGroup]="form" controlName="expireDays" contentType="number" [label]="'اقصي نسبة خصم للبيع'"> </app-prime-input-text>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center">
                                <app-prime-check-box [formGroup]="form" controlName="isActive" groupName="showGroup" [binary]="true" [label]="'مراجعة الرصيد'"> </app-prime-check-box>
                            </div>
                          
                            <div class="col-lg-4">
                                <app-prime-input-text [formGroup]="form" controlName="expireDays" contentType="number" [label]="'عدد ايام الصلاحية'"> </app-prime-input-text>
                            </div>
                            <div class="col-lg-4">
                                <app-prime-input-text [formGroup]="form" controlName="northSide" [label]="'الحد البحري'"> </app-prime-input-text>
                            </div>
                            <div class="col-lg-4">
                                <app-prime-input-text [formGroup]="form" controlName="southSide" [label]="'الحد القبلي'"> </app-prime-input-text>
                            </div>
                        </form>
                    }
                </p-card>
                @if (form) {
                    <app-submit-buttons [isSubmitDisabled]="form.invalid" [submitButtonText]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'" (submit)="submit()" (cancel)="redirect()"> </app-submit-buttons>
                }
            </div>
        </p-tabpanel>
        <p-tabpanel value="ItemTabs.ItemItemUnit">
            <app-item-item-units [itemId]="itemId"></app-item-item-units>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
