/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import url('./assets/layout/layout.scss');
@import url('./assets/demo/demo.scss');

@font-face {
  font-family: 'Cairo';
  src: url('/assets/fonts/Cairo-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* مهم لتجنب التحذيرات */
}

@import 'tailwindcss';
@import 'tailwindcss-primeui';

/* @source './index.html'; */
@source './**/*.{html,ts,scss,css}';
@custom-variant dark (&:where([class="app-dark"], [class="app-dark"] *));

/* @import "./assets/tailwind-base-utilites/base-tailwind.css"; */

::ng-deep .p-dialog-content {
  padding: 1rem 0.5rem !important;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 850px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --font-rubic: Rubik, serif;
  --font-lato: 'Lato', sans-serif;
}

@layer utilities {
  .form-col {
    @apply col-span-12 lg:col-span-6;
  }
}

@layer components {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
  }
}
